[submodule "Engine/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Engine/src/vendor/glm"]
	path = Engine/src/vendor/glm
	url = https://github.com/g-truc/glm.git
